{% load static %}

<div class="row">
    <div class="col-md-3">
        <div id="profile-wrapper" class="card card-body  h-100 border-info">
            <img id="profile-pic" src="{% static '../../static/images/0.jpeg' %}">
            <hr>
            <h4>Yassine JRAD</h4>
            <h4 class="title-size"> Python Developer | Software Engineer</h4>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card card-body h-100 border-info">
            <p> About me </p>
            <hr>
            <img class="social-media-pic" src="{% static '../../static/images/whatsapp-icon.svg' %}">
            <img class="social-media-pic" src="{% static '../../static/images/gmail-icon.svg' %}">
            <img class="social-media-pic" src="{% static '../../static/images/linkedin-icon-2.svg' %}">
        </div>
    </div>
</div>