{% load static %}

<div class="col-md-4"><h5> Accomplishments</h5>
    <div class="card card-body">
        <ul>
            <li>
                <strong>Languages</strong>
                <dd>
                    <ul>
                        <li>Arabic</li>
                        <li>French</li>
                        <li>English</li>
                        <li>Germain</li>
                    </ul>
                </dd>
            </li>
            <li>
                <strong>Hobbies</strong>
                <dd>
                    <ul>
                        <li>Arabic</li>
                        <li>French</li>
                        <li>English</li>
                        <li>Germain</li>
                    </ul>
                </dd>
            </li>
        </ul>
    </div>
</div>