{% load static %}
<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Yassine JRAD Portfolio</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="{% static '../../static/css/default.css' %}">
	<link rel="stylesheet" href="{% static '../../static/css/layout.css' %}">
   <link rel="stylesheet" href="{% static '../../static/css/media-queries.css' %}">
   <link rel="stylesheet" href="{% static '../../static/css/magnific-popup.css' %}">

   <!-- Script
   ================================================== -->
	<script src="{% static '../../static/js/modernizr.js' %}"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static '../../static/images/favicon.png' %}" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#portfolio">Works</a></li>
<!--            <li><a class="smoothscroll" href="#testimonials">Testimonials</a></li>-->
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I'm Yassine JRAD.</h1>
            <h3>I'm a Djerba-Tunisia based, a <span>Junior Python/Django Backend Web Developer</span> and a <span>Software Engineer</span> creating awesome and
            effective visual identities for companies of all sizes around the globe. Let's <a class="smoothscroll" href="#about">start scrolling</a>
            and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
            <hr />
            <ul class="social">
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-github"></i></a></li>
               <li><a href="#"><i class="fa fa-phone"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="{% static '../../static/images/profile-pic.jpeg' %}" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
            voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
            sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>Jonathan Doe</span><br>
						   <span>1600 Amphitheatre Parkway<br>
						         Mountain View, CA 94043 US
                     </span><br>
						   <span>(123)456-7890</span><br>
                     <span>anyone@website.com</span>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="#" class="button"><i class="fa fa-download"></i>Download Resume</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Work</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">
                   <a href="https://neopolis-dev.com/"> <img src="{% static '../../static/images/Neo.jpeg' %}" style="float:right" width="120" height="100" title="Neopolis Development"></a>
                  <h3>Python/Django Backend Engineer</h3>
                  <p class="info">Neopolis Development - Tunisia<span>&bull;</span> <em class="date">Apr 2020 - Present</em></p>
                  <ul>
                        <li>Developing, testing and debugging software tools utilized by clients and
                            internal customers</li>
                        <li>Coding test programs and evaluating existing engineering processes.</li>
                        <li>Collaborating with the Agile team to convert end user feedback into
                            meaningful and improved solutions.</li>
                        <li>Resolving ongoing problems and accurately documented progress of
                            Python/Django project.</li>
                    </ul>
               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <a href=""> <img src="{% static '../../static/images/Phoenix.jpeg' %}" style="float:right" width="120" height="100" title="Phoenix Mecano Elcom"></a>
                  <h3>Software Engineer</h3>
                  <p class="info">Phoenix Mecano Elcom - Tunisia<span>&bull;</span> <em class="date">Oct 2019 - Mar 2020</em></p>
                  <ul>
                        <li>Developing, testing and debugging software tools utilized by clients and
                            internal customers</li>
                    </ul>
               </div>
                <div class="row item">

            </div> <!-- item end -->

               <div class="twelve columns">

                  <a href="https://www.addixo.com/fr/"> <img src="{% static '../../static/images/Addixo.png' %}" style="float:right" width="120" height="100" title="ADDIXO"></a>
                  <h3>Software Engineer Intern</h3>
                  <p class="info">ADDIXO - Tunisia<span>&bull;</span> <em class="date">Feb 2019-Jul 2019</em></p>
                  <ul>
                        <li>Developing, testing and debugging software tools utilized by clients and
                            internal customers</li>
                    </ul>
               </div>
                    <div class="row item">
                </div> <!-- item end -->
               <div class="twelve columns">

                  <a href="https://www.addixo.com/fr/"> <img src="{% static '../../static/images/Addixo.png' %}" style="float:right" width="120" height="100" title="ADDIXO"></a>
                  <h3>Summer Intern</h3>
                  <p class="info">ADDIXO - Tunisia<span>&bull;</span> <em class="date">Jul 2018 - Aug 2018</em></p>
                  <ul>
                        <li>Developing, testing and debugging software tools utilized by clients and
                            internal customers</li>
                    </ul>
               </div>

                <div class="twelve columns">

                  <a href="https://us.marquardt.com/careers/tunisia/"> <img src="{% static '../../static/images/marquardt.png' %}" style="float:right" width="120" height="100" title="MARQUARDT"></a>
                  <h3>Summer Intern</h3>
                  <p class="info">Marquardt - Tunisia<span>&bull;</span> <em class="date">Jul 2017 - Jul 2017</em></p>
                  <ul>
                        <li>Developing, testing and debugging software tools utilized by clients and
                            internal customers</li>
                    </ul>
               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                   <a href="https://esprit.tn/"> <img src="{% static '../../static/images/Esprit.jpg' %}" style="float:right" width="100" height="50" title="ESPRIT"></a>
                  <h3>Private Higher School of Engineering and Technologies- ESPRIT</h3>
                  <p class="info">National diploma in Electromechanical engineering : mechatronics & software development speciality <span>&bull;</span> <em class="date">2016-2019</em></p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">
                   <a href="http://www.issatso.rnu.tn/fo/index.php"> <img src="{% static '../../static/images/issats.png' %}" style="float:right" width="100" height="50" title="ISSAT Sousse"></a>
                  <h3>ISSAT Sousse</h3>
                  <p class="info">Bachelor degree in electrical, electronic and automation science engineering <span>&bull;</span> <em class="date">2013-2016</em></p>
               </div>

            </div> <!-- item end -->

             <div class="row item">

               <div class="twelve columns">
                  <h3>Online Courses</h3>
                   <dd>
                       <a href="http://www.issatso.rnu.tn/fo/index.php"> <img src="{% static '../../static/images/udemy.png' %}" style="float:right" width="80" height="50" title="Udemy"></a>
                  <p class="info">Python and Django Full Stack Web Developer Bootcamp<span>&bull;</span> <em class="date">2020</em><span>&bull;</span><a href="https://www.udemy.com/certificate/UC-497d1f45-3c01-4750-a9e5-b64cfbf7c1b6/"><small>See credential</small></p>
                   </dd>
                   <br>
                   <dd>
                        <img src="{% static '../../static/images/open.png' %}" style="float:right" width="80" height="50" title="OpenClassrooms"></a>
                  <p class="info">Learn About Agile Project Management and SCRUM<span>&bull;</span> <em class="date">2020</em><span>&bull;</span><a href="https://openclassrooms.com/en/course-certificates/2855124818"><small>See credential</small></p>
                   </dd>
                   <br>
                   <dd>
                       <img src="{% static '../../static/images/udemy.png' %}" style="float:right" width="80" height="50" title="Udemy"></a>
                  <p class="info">Linux for Absolute Beginners<span>&bull;</span> <em class="date">2020</em><span>&bull;</span><a href="https://www.udemy.com/certificate/UC-d3a72862-c260-47a6-9ca6-4bbbec644614/"><small>See credential</small></p>
                   </dd>
                   <br>
                   <dd>
                       <img src="{% static '../../static/images/udemy.png' %}" style="float:right" width="80" height="50" title="Udemy"></a>
                  <p class="info">Complete course of SQL Database Programming<span>&bull;</span> <em class="date">2020</em><span>&bull;</span><a href="https://www.udemy.com/certificate/UC-9c5e0415-0e92-451c-b9f7-372f91a27a0c/"><small>See credential</small></p>
                   </dd>
                   <br>
                   <dd>
                       <img src="{% static '../../static/images/solo.png' %}" style="float:right" width="80" height="50" title="SoloLearn"></a>
                  <p class="info">HTML course<span>&bull;</span> <em class="date">2020</em><span>&bull;</span><a href="https://www.sololearn.com/Certificate/1014-15692073/pdf/"><small>See credential</small></p>
                   </dd>
                   <br>
                   <dd>
                       <img src="{% static '../../static/images/solo.png' %}" style="float:right" width="80" height="50" title="SoloLearn"></a>
                  <p class="info">Python 3 course<span>&bull;</span> <em class="date">2020</em><span>&bull;</span><a href="https://www.sololearn.com/Certificate/1073-15692073/pdf/"><small>See credential</small></p>
                   </dd>

               </div>

            </div>
         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>
         <div class="nine columns main-col">
            <div class="card card-body">
                        <h3>Technologies</h3>
                        <br>
                        <dd><h5>Language & Frameworks</h5>
                            <div class="row">
                                <img src="{% static '../../static/images/python-5.svg' %}" height="40" width="50" hspace="5" vspace="5">
                                <img src="{% static '../../static/images/django-community.svg' %}" height="40" width="50" hspace="5" vspace="5">
                                <img src="{% static '../../static/images/flask.svg' %}" height="40" width="50" hspace="5" vspace="5">
                            </div>
                            <br>
                            <h5>Front End</h5>
                            <div class="row">
                                <img src="{% static '../../static/images/html5.svg' %}" height="40" width="50" hspace="2" vspace="5">
                                <img src="{% static '../../static/images/css-5.svg' %}" height="40" width="50" hspace="2" vspace="5">
                                <img src="{% static '../../static/images/javascript.svg' %}" height="40" width="50" hspace="2" vspace="5">
                                <img src="{% static '../../static/images/bootstrap-4.svg' %}" height="40" width="50" hspace="2" vspace="5">
                                <img src="{% static '../../static/images/jquery.svg' %}" height="40" width="50" hspace="2" vspace="5">
                            </div>
                            <br>
                            <h5>Database</h5>
                            <div class="row">
                                    <img src="{% static '../../static/images/orm.png' %}" height="40" width="50" hspace="10" vspace="5">
                                    <img src="{% static '../../static/images/sqlite.svg' %}" height="40" width="50" hspace="10" vspace="5">
                                    <img src="{% static '../../static/images/postgresql.svg' %}" height="40" width="50" hspace="10" vspace="5">
                                </div>
                            <br>
                            <h5>Version Control</h5>
                            <div class="row">
                                    <img src="{% static '../../static/images/git-icon.svg' %}" height="40" width="40" hspace="5" vspace="10">
                                    <img src="{% static '../../static/images/github-1.svg' %}" height="40" width="40" hspace="5" vspace="10">
                                    <img src="{% static '../../static/images/gitlab.svg' %}" height="40" width="40" hspace="5" vspace="10">
                                </div>
                            <br>
                            <h5>Tools</h5>
                            <div class="row">
                                    <img src="{% static '../../static/images/bash-1.svg' %}" height="40" width="50" hspace="5" vspace="5">
                                    <img src="{% static '../../static/images/pycharmide.jpeg' %}" height="40" width="50" hspace="5" vspace="5">
                                    <img src="{% static '../../static/images/postman.png' %}" height="40" width="60" hspace="5" vspace="5">
                                    <img src="{% static '../../static/images/selenium-logo.svg' %}" height="40" width="60" hspace="5" vspace="5">
                                </div>
                            <br>
                            <h5>Project Management Tools</h5>
                            <div class="row">
                                    <img src="{% static '../../static/images/scrum.jpg' %}" height="40" width="50" hspace="5" vspace="5">
                                    <img src="{% static '../../static/images/jira.svg' %}" height="40" width="70" hspace="5" vspace="10">
                                </div>
                            <br>
                            <h5>Operating systems</h5>
                            <div class="row">
                                    <img src="{% static '../../static/images/linux-tux-1.svg' %}" height="40" width="50" hspace="5" vspace="5">
                                    <img src="{% static '../../static/images/microsoft-windows-22.svg' %}" height="40" width="50" hspace="5" vspace="5">
                                </div>
                        </dd>
                        <br>
                        <h3>My short term goals</h3>
                            <dd><h5>Javascript</h5>
                            <div class="row">
                                <img src="{% static '../../static/images/vue-js.svg' %}" height="40" width="50" hspace="5" vspace="5">
                                <img src="{% static '../../static/images/react.svg' %}" height="40" width="50" hspace="5" vspace="5">
                            </div>
                                <br>
                            <h5>CI/CD</h5>
                                <div class="row">
                                    <img src="{% static '../../static/images/docker.svg' %}" height="40" width="50" hspace="5" vspace="5">
                                    <img src="{% static '../../static/images/jenkins.jpg' %}" height="40" width="50" hspace="5" vspace="5">
                                    <img src="{% static '../../static/images/circleci.svg' %}" height="40" width="50" hspace="5" vspace="5">
                                    <img src="{% static '../../static/images/kubernets.svg' %}" height="40" width="50" hspace="5" vspace="5">
                                    <img src="{% static '../../static/images/travis.jpg' %}" height="40" width="50" hspace="5" vspace="5">
                                </div>
                                <br>
                            <h5>Cloud</h5>
                                <div class="row">
                                        <img src="{% static '../../static/images/google-cloud-1.svg' %}" height="50" width="50" hspace="5" vspace="5">
                                        <img src="{% static '../../static/images/aws-2.svg' %}" height="50" width="50" hspace="5" vspace="5">
                                        <img src="{% static '../../static/images/azure-1.svg' %}" height="50" width="50" hspace="5" vspace="5">
                                </div>
                        </dd>
				</div><!-- end card-body -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->


   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

            <h1>Check Out Some of My Works.</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

          	   <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-01" title="">
                        <img alt="" src="{% static '../../static/images/portfolio/coffee.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Coffee</h5>
                              <p>Illustrration</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-02" title="">
                        <img alt="" src="{% static '../../static/images/portfolio/console.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Console</h5>
                              <p>Web Development</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-03" title="">
                        <img alt="" src="{% static '../../static/images/portfolio/judah.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Judah</h5>
                              <p>Webdesign</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-04" title="">
                        <img alt="" src="{% static '../../static/images/portfolio/into-the-light.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Into The Light</h5>
                              <p>Photography</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-05" title="">
                        <img alt="" src="{% static '../../static/images/portfolio/farmerboy.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Farmer Boy</h5>
                              <p>Branding</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-06" title="">
                        <img alt="" src="{% static '../../static/images/portfolio/girl.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Girl</h5>
                              <p>Photography</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-07" title="">
                        <img alt="" src="{% static '../../static/images/portfolio/origami.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Origami</h5>
                              <p>Illustrration</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-08" title="">
                        <img alt="" src="images/portfolio/retrocam.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Retrocam</h5>
                              <p>Web Development</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div>  <!-- item end -->

            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->


         <!-- Modal Popup
	      --------------------------------------------------------------- -->

         <div id="modal-01" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static '../../static/images/portfolio/modals/m-coffee.jpg' %}" alt="" />

		      <div class="description-box">
			      <h4>Coffee Cup</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-01 End -->

         <div id="modal-02" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static '../../static/images/portfolio/modals/m-console.jpg' %}" alt="" />

		      <div class="description-box">
			      <h4>Console</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Web Development</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-02 End -->

         <div id="modal-03" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static '../../static/images/portfolio/modals/m-judah.jpg' %}" alt="" />

		      <div class="description-box">
			      <h4>Judah</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-03 End -->

         <div id="modal-04" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static '../../static/images/portfolio/modals/m-intothelight.jpg' %}" alt="" />

		      <div class="description-box">
			      <h4>Into the Light</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Photography</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-04 End -->

         <div id="modal-05" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static '../../static/images/portfolio/modals/m-farmerboy.jpg' %}" alt="" />

		      <div class="description-box">
			      <h4>Farmer Boy</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-05 End -->

         <div id="modal-06" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static '../../static/images/portfolio/modals/m-girl.jpg' %}" alt="" />

		      <div class="description-box">
			      <h4>Girl</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Photography</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-06 End -->

         <div id="modal-07" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static '../../static/images/portfolio/modals/m-origami.jpg' %}" alt="" />

		      <div class="description-box">
			      <h4>Origami</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Illustration</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-07 End -->

         <div id="modal-08" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static '../../static/images/portfolio/modals/m-retrocam.jpg' %}" alt="" />

		      <div class="description-box">
			      <h4>Retrocam</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Webdesign, Photography</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-01 End -->


      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->


   <!-- Call-To-Action Section
   ================================================== -->
   <section id="call-to-action">

      <div class="row">

         <div class="two columns header-col">

            <h1><span>Get Hosting.</span></h1>

         </div>

         <div class="seven columns">

            <h2><span class="lead">Unde Omnis Iste</span></h2>
            <p><span class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae. </span></p>

         </div>

         <div class="three columns action">



         </div>

      </div>

   </section> <!-- Call-To-Action Section End-->


   <!-- Testimonials Section
   ================================================== -->
<!--   <section id="testimonials">-->

<!--      <div class="text-container">-->

<!--         <div class="row">-->

<!--            <div class="two columns header-col">-->

<!--               <h1><span>Client Testimonials</span></h1>-->

<!--            </div>-->

<!--            <div class="ten columns flex-container">-->

<!--               <div class="flexslider">-->

<!--                  <ul class="slides">-->

<!--                     <li>-->
<!--                        <blockquote>-->
<!--                           <p>Your work is going to fill a large part of your life, and the only way to be truly satisfied is-->
<!--                           to do what you believe is great work. And the only way to do great work is to love what you do.-->
<!--                           If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it.-->
<!--                           </p>-->
<!--                           <cite>Steve Jobs</cite>-->
<!--                        </blockquote>-->
<!--                     </li> &lt;!&ndash; slide ends &ndash;&gt;-->

<!--                     <li>-->
<!--                        <blockquote>-->
<!--                           <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.-->
<!--                           Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem-->
<!--                           nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.-->
<!--                           </p>-->
<!--                           <cite>Mr. Adobe</cite>-->
<!--                        </blockquote>-->
<!--                     </li> &lt;!&ndash; slide ends &ndash;&gt;-->

<!--                  </ul>-->

<!--               </div> &lt;!&ndash; div.flexslider ends &ndash;&gt;-->

<!--            </div> &lt;!&ndash; div.flex-container ends &ndash;&gt;-->

<!--         </div> &lt;!&ndash; row ends &ndash;&gt;-->

<!--       </div>  &lt;!&ndash; text-container ends &ndash;&gt;-->

<!--   </section> &lt;!&ndash; Testimonials Section End&ndash;&gt;-->


   <!-- Contact Section
   ================================================== -->
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Get In Touch.</span></h1>

            </div>

            <div class="ten columns">

                  <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                  eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                  voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                  </p>

            </div>

         </div>

         <div class="row">

            <div class="eight columns">

               <!-- form -->
               <form action="" method="post" id="contactForm" name="contactForm">
					<fieldset>

                  <div>
						   <label for="contactName">Name <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactName" name="contactName">
                  </div>

                  <div>
						   <label for="contactEmail">Email <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                  </div>

                  <div>
						   <label for="contactSubject">Subject</label>
						   <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                  </div>

                  <div>
                     <label for="contactMessage">Message <span class="required">*</span></label>
                     <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                  </div>

                  <div>
                     <button class="submit">Send</button>
                     <span id="image-loader">
                        <img alt="" src="{% static '../../static/images/loader.gif' %}">
                     </span>
                  </div>

					</fieldset>
				   </form> <!-- Form End -->

               <!-- contact-warning -->
               <div id="message-warning"> Error boy</div>
               <!-- contact-success -->
				   <div id="message-success">
                  <i class="fa fa-check"></i>Your message was sent, thank you!<br>
				   </div>

            </div>


            <aside class="four columns footer-widgets">

               <div class="widget widget_contact">

					   <h4>Address and Phone</h4>
					   <p class="address">
						   Jonathan Doe<br>
						   1600 Amphitheatre Parkway <br>
						   Mountain View, CA 94043 US<br>
						   <span>(123) 456-7890</span>
					   </p>

				   </div>

            </aside>

      </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-github"></i></a></li>
               <li><a href="#"><i class="fa fa-phone"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2020 Yassine JRAD</li>
               <li>Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>
                <li>Edited by Yassine JRAD</li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="{% static '../../static/js/jquery.flexslider.js' %}"></script>
   <script src="{% static '../../static/js/waypoints.js' %}"></script>
   <script src="{% static '../../static/js/jquery.fittext.js' %}"></script>
   <script src="{% static '../../static/js/magnific-popup.js' %}"></script>
   <script src="{% static '../../static/js/init.js' %}"></script>

</body>

</html>