{% load static %}
<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Yassine JRAD Portfolio</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="{% static '../../static/css/default.css' %}">
	<link rel="stylesheet" href="{% static '../../static/css/layout.css' %}">
   <link rel="stylesheet" href="{% static '../../static/css/media-queries.css' %}">
   <link rel="stylesheet" href="{% static '../../static/css/magnific-popup.css' %}">

   <!-- Script
   ================================================== -->
<!--	<script src="{% static '../../static/js/modernizr.js' %}"></script>-->
    <script src="https://kit.fontawesome.com/24e3154317.js" crossorigin="anonymous"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static '../../static/images/favicon.png' %}" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#portfolio">Works</a></li>
<!--            <li><a class="smoothscroll" href="#testimonials">Testimonials</a></li>-->
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I'm Yassine JRAD.</h1>
            <h3>I'm a Djerba, Tunisia based, a <span>Python/Django Backend Web Developer</span> and a <span>Software Engineer</span> creating awesome and
            effective visual identities for companies of all sizes around the globe. Let's <a class="smoothscroll" href="#about">start scrolling</a>
            and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
            <hr />
            <ul class="social">
               <li><a href="https://www.linkedin.com/in/yassine-jrad-94b750119/"><i class="fa fa-linkedin" title="Yassine Jrad"></i></a></li>
               <li><a href="https://github.com/yassinejr"><i class="fa fa-github" title="yassinejr"></i></a></li>
               <li><a href="https://wa.me/0021626433633"><i class="fa fa-whatsapp" aria-hidden="true" title="+216 26433633"></i></a></li>
               <li><a href="skype:live:afd7e1e586aada00?call"><i class="fa fa-skype" title="+216 26433633"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="{% static '../../static/images/profile-pic.jpeg' %}" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
            voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <p class="address">
						   Yassine Jrad<br>
						   Djerba, Tunisia<br>
						   <span>+216 26433633</span><br>
                            </p>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="{% static '../../static/Yassine_resume.pdf' %}" download class="button"><i class="fa fa-download"></i>Download Resume</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Work</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">
                   <a href="https://neopolis-dev.com/"> <img src="{% static '../../static/images/Neo.jpeg' %}" style="float:right" width="120" height="100" title="Neopolis Development"></a>
                  <h3>Python/Django Backend Engineer</h3>
                  <p class="info">Neopolis Development - Tunisia<span>&bull;</span> <em class="date">Apr 2020 - Present</em></p>
                  <ul>
                      <li>Field : Insurance Software (French Mutual Health Insurance)</li>
                      <li>Developing, testing and debugging software tools utilized by clients and
                          internal customers</li>
                      <li>Coding test programs and evaluating existing engineering processes.</li>
                      <li>Collaborating with the Scrum team (Product owner, Scrum master and 14 developers) to convert end user feedback into meaningful and improved solutions..</li>
                      <li>Resolving ongoing problems and accurately documented progress of
                          Python/Django project.</li>
                    </ul>
               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <a href=""> <img src="{% static '../../static/images/Phoenix.jpeg' %}" style="float:right" width="120" height="100" title="Phoenix Mecano Elcom"></a>
                  <h3>Software Engineer</h3>
                  <p class="info">Phoenix Mecano Elcom - Tunisia<span>&bull;</span> <em class="date">Oct 2019 - Mar 2020</em></p>
                  <ul>
                        <li>Development of a HMI/Web app for the company's industrial cooling and temperature control systems</li>
                        <li>Development of a Desktop app for a manufacturing process (end of line testing phase)</li>
                    </ul>
               </div>
                <div class="row item">

            </div> <!-- item end -->

               <div class="twelve columns">

                  <a href="https://www.addixo.com/fr/"> <img src="{% static '../../static/images/Addixo.png' %}" style="float:right" width="120" height="100" title="ADDIXO"></a>
                  <h3>Software Engineer Intern</h3>
                  <p class="info">ADDIXO - Tunisia<span>&bull;</span> <em class="date">Feb 2019-Jul 2019</em></p>
                  <ul>
                        <li>Development of a smart Leak tester-Desktop HMI Application</li>
                    </ul>
               </div>
                    <div class="row item">
                </div> <!-- item end -->
               <div class="twelve columns">

                  <a href="https://www.addixo.com/fr/"> <img src="{% static '../../static/images/Addixo.png' %}" style="float:right" width="120" height="100" title="ADDIXO"></a>
                  <h3>Summer Intern</h3>
                  <p class="info">ADDIXO - Tunisia<span>&bull;</span> <em class="date">Jul 2018 - Aug 2018</em></p>
                  <ul>
                        <li>Development of a Bar code builder and scanner Desktop application for the Law Material Store</li>
                    </ul>
               </div>

                <div class="twelve columns">

                  <a href="https://us.marquardt.com/careers/tunisia/"> <img src="{% static '../../static/images/marquardt.png' %}" style="float:right" width="70" height="120" title="MARQUARDT"></a>
                  <h3>Summer Intern</h3>
                  <p class="info">Marquardt - Tunisia<span>&bull;</span> <em class="date">Jul 2017 - Jul 2017</em></p>
                  <ul>
                        <li>Sit in Software engineers programming and Maintaining Line Production Test Systems</li>
                    </ul>
               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">
                   <a href="https://esprit.tn/"> <img src="{% static '../../static/images/Esprit.jpg' %}" style="float:right" width="100" height="50" title="ESPRIT"></a>
                  <h3>Private Higher School of Engineering and Technologies- ESPRIT</h3>
                  <p class="info">National diploma in Electromechanical engineering : mechatronics & software development speciality <span>&bull;</span> <em class="date">2016-2019</em></p>
               </div>
            </div> <!-- item end -->

            <div class="row item">
               <div class="twelve columns">
                   <a href="http://www.issatso.rnu.tn/fo/index.php"> <img src="{% static '../../static/images/issats.png' %}" style="float:right" width="100" height="50" title="ISSAT Sousse"></a>
                  <h3>ISSAT Sousse</h3>
                  <p class="info">Bachelor degree in electrical, electronic and automation science engineering <span>&bull;</span> <em class="date">2013-2016</em></p>
               </div>
            </div> <!-- item end -->

             <div class="row item">

               <div class="twelve columns">
                  <h3>Online Courses</h3>
                   <dd>
                       <img src="{% static '../../static/images/udemy.png' %}" style="float:right" width="80" height="50" title="Udemy">
                       <p class="info">Python and Django Full Stack Web Developer Bootcamp<span>&bull;</span> <em class="date">2020</em><span>&bull;</span><a href="https://www.udemy.com/certificate/UC-497d1f45-3c01-4750-a9e5-b64cfbf7c1b6/"><small>See credential</small></a></p>
                   </dd>
                   <br>
                   <dd>
                        <img src="{% static '../../static/images/open.png' %}" style="float:right" width="80" height="50" title="OpenClassrooms"></a>
                       <p class="info">Learn About Agile Project Management and SCRUM<span>&bull;</span> <em class="date">2020</em><span>&bull;</span><a href="https://openclassrooms.com/en/course-certificates/2855124818"><small>See credential</small></a></p>
                   </dd>
                   <br>
                   <dd>
                       <img src="{% static '../../static/images/udemy.png' %}" style="float:right" width="80" height="50" title="Udemy"></a>
                       <p class="info">Linux for Absolute Beginners<span>&bull;</span> <em class="date">2020</em><span>&bull;</span><a href="https://www.udemy.com/certificate/UC-d3a72862-c260-47a6-9ca6-4bbbec644614/"><small>See credential</small></a></p>
                   </dd>
                   <br>
                   <dd>
                       <img src="{% static '../../static/images/udemy.png' %}" style="float:right" width="80" height="50" title="Udemy"></a>
                       <p class="info">Complete course of SQL Database Programming<span>&bull;</span> <em class="date">2020</em><span>&bull;</span><a href="https://www.udemy.com/certificate/UC-9c5e0415-0e92-451c-b9f7-372f91a27a0c/"><small>See credential</small></a></p>
                   </dd>
                   <br>
                   <dd>
                       <img src="{% static '../../static/images/solo.png' %}" style="float:right" width="80" height="50" title="SoloLearn"></a>
                       <p class="info">HTML course<span>&bull;</span> <em class="date">2020</em><span>&bull;</span><a href="https://www.sololearn.com/Certificate/1014-15692073/pdf/"><small>See credential</small></a></p>
                   </dd>
                   <br>
                   <dd>
                       <img src="{% static '../../static/images/solo.png' %}" style="float:right" width="80" height="50" title="SoloLearn"></a>
                       <p class="info">Python 3 course<span>&bull;</span> <em class="date">2020</em><span>&bull;</span><a href="https://www.sololearn.com/Certificate/1073-15692073/pdf/"><small>See credential</small></a></p>
                   </dd>
                   <br>
                   <dd>
                       <img src="{% static '../../static/images/edx.png' %}" style="float:right" width="80" height="50" title="Microsoft-edX"></a>
                  <p class="info">Introduction to Python: Absolute
                      Beginner<span>&bull;</span> <em class="date">2019</em><span>&bull;</span><a href="https://courses.edx.org/certificates/1732c944316a465696416230065fb7b2"><small>See credential</small></a></p>
                   </dd>
                   <br>
                   <dd>
                    <img src="{% static '../../static/images/croissant.jpg' %}" style="float:right" width="80" height="50" title="Tunisian Red Crescent"></a>
                       <p class="info">First Aid Rescuer<span>&bull;</span> <em class="date">2019</em><span>&bull;</span><a href="https://drive.google.com/file/d/1vGx3uGHpp-2VoEh4S6P7K6SwdrAyY0oE/view?usp=sharing"><small>See credential</small></a></p>
                   </dd>
                   <br>
                </div>
            </div>
         </div> <!-- main-col end -->
      </div> <!-- End Education -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>
         <div class="nine columns main-col">
            <div class="card card-body">
                        <h3>Technologies</h3>
                        <br>
                        <dd><h5>Language & Frameworks</h5>
                            <div class="row">
                                <img src="{% static '../../static/images/python-5.svg' %}" height="40" width="50" hspace="5" vspace="5">
                                <img src="{% static '../../static/images/django-community.svg' %}" height="40" width="50" hspace="5" vspace="5">
                                <img src="{% static '../../static/images/flask.svg' %}" height="40" width="50" hspace="5" vspace="5">
                            </div>
                            <br>
                            <h5>Front End</h5>
                            <div class="row">
                                <img src="{% static '../../static/images/html5.svg' %}" height="40" width="50" hspace="2" vspace="5">
                                <img src="{% static '../../static/images/css-5.svg' %}" height="40" width="50" hspace="2" vspace="5">
                                <img src="{% static '../../static/images/javascript.svg' %}" height="40" width="50" hspace="2" vspace="5">
                                <img src="{% static '../../static/images/bootstrap-4.svg' %}" height="40" width="50" hspace="2" vspace="5">
                                <img src="{% static '../../static/images/jquery.svg' %}" height="40" width="50" hspace="2" vspace="5">
                            </div>
                            <br>
                            <h5>Database</h5>
                            <div class="row">
                                    <img src="{% static '../../static/images/orm.png' %}" height="40" width="50" hspace="10" vspace="5">
                                    <img src="{% static '../../static/images/sqlite.svg' %}" height="40" width="50" hspace="10" vspace="5">
                                    <img src="{% static '../../static/images/postgresql.svg' %}" height="40" width="50" hspace="10" vspace="5">
                                </div>
                            <br>
                            <h5>Version Control</h5>
                            <div class="row">
                                    <img src="{% static '../../static/images/git-icon.svg' %}" height="40" width="40" hspace="5" vspace="10">
                                    <img src="{% static '../../static/images/github-1.svg' %}" height="40" width="40" hspace="5" vspace="10">
                                    <img src="{% static '../../static/images/gitlab.svg' %}" height="40" width="40" hspace="5" vspace="10">
                                </div>
                            <br>
                            <h5>Tools</h5>
                            <div class="row">
                                    <img src="{% static '../../static/images/bash-1.svg' %}" height="40" width="50" hspace="5" vspace="5">
                                    <img src="{% static '../../static/images/pycharmide.jpeg' %}" height="40" width="50" hspace="5" vspace="5">
                                    <img src="{% static '../../static/images/postman.png' %}" height="40" width="60" hspace="5" vspace="5">
<!--                                    <img src="{% static '../../static/images/selenium-logo.svg' %}" height="40" width="60" hspace="5" vspace="5">-->
                                </div>
                            <br>
                            <h5>Project Management Tools</h5>
                            <div class="row">
                                    <img src="{% static '../../static/images/scrum.jpg' %}" height="40" width="50" hspace="5" vspace="5">
                                    <img src="{% static '../../static/images/jira.svg' %}" height="40" width="70" hspace="5" vspace="10">
                                </div>
                            <br>
                            <h5>Operating systems</h5>
                            <div class="row">
                                    <img src="{% static '../../static/images/linux-tux-1.svg' %}" height="40" width="50" hspace="5" vspace="5">
                                    <img src="{% static '../../static/images/microsoft-windows-22.svg' %}" height="40" width="50" hspace="5" vspace="5">
                                </div>
                        </dd>
                        <br>
                        <h3>My short term goals</h3>
                            <dd><h5>Javascript</h5>
                            <div class="row">
                                <img src="{% static '../../static/images/vue-js.svg' %}" height="40" width="50" hspace="5" vspace="5">
                                <img src="{% static '../../static/images/react.svg' %}" height="40" width="50" hspace="5" vspace="5">
                            </div>
                                <br>
                            <h5>CI/CD</h5>
                                <div class="row">
                                    <img src="{% static '../../static/images/docker.svg' %}" height="40" width="50" hspace="5" vspace="5">
                                    <img src="{% static '../../static/images/jenkins.jpg' %}" height="40" width="50" hspace="5" vspace="5">
                                    <img src="{% static '../../static/images/circleci.svg' %}" height="40" width="50" hspace="5" vspace="5">
                                    <img src="{% static '../../static/images/kubernets.svg' %}" height="40" width="50" hspace="5" vspace="5">
                                    <img src="{% static '../../static/images/travis.jpg' %}" height="40" width="50" hspace="5" vspace="5">
                                </div>
                                <br>
                            <h5>Cloud</h5>
                                <div class="row">
                                        <img src="{% static '../../static/images/google-cloud-1.svg' %}" height="50" width="50" hspace="5" vspace="5">
                                        <img src="{% static '../../static/images/aws-2.svg' %}" height="50" width="50" hspace="5" vspace="5">
                                        <img src="{% static '../../static/images/azure-1.svg' %}" height="50" width="50" hspace="5" vspace="5">
                                </div>
                        </dd>
				</div><!-- end card-body -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->


   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

            <h1>Projects in Progress.</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-02" title="">
                        <img alt="" src="{% static '../../static/images/portfolio/console.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Full Portfolio Website</h5>
                              <p>Web Development</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-03" title="">
                        <img alt="" src="{% static '../../static/images/portfolio/judah.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Ecommerce Website</h5>
                              <p>Web development</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-04" title="">
                        <img alt="" src="{% static '../../static/images/portfolio/django.jpg' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Django Community</h5>
                              <p>Web Development</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-05" title="">
                        <img alt="" src="{% static '../../static/images/portfolio/weather.png' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Hot&Cold</h5>
                              <p>Web & Mobile Development</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->


            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->


         <!-- Modal Popup
	      --------------------------------------------------------------- -->

         <div id="modal-02" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static '../../static/images/portfolio/modals/m-console.jpg' %}" alt="" />

		      <div class="description-box">
			      <h4>Full Portfolio Website</h4>
			      <p>Building the backend of my portfolio website using django : add new posts, new experience..</p>
               <span class="categories"><i class="fa fa-tag"></i>Web Development</span>
		      </div>

            <div class="link-box">
<!--               <a href="" target="_blank" title="Comming soon">Details</a> when the app will be ready, just paste the link of the app and apply this to the other projects-->
                <a target="_blank" title="Comming soon">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-02 End -->

         <div id="modal-03" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static '../../static/images/portfolio/modals/m-judah.jpg' %}" alt="" />

		      <div class="description-box">
			      <h4>Ecommerce website</h4>
			      <p>build an E-commerce website with Django and Python : users, payment, discount code etc.</p>
               <span class="categories"><i class="fa fa-tag"></i>Web development</span>
		      </div>

            <div class="link-box">
               <a target="_blank" title="Comming soon">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-03 End -->

         <div id="modal-04" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static '../../static/images/portfolio/modals/m-django.jpg' %}" alt="" />

		      <div class="description-box">
			      <h4>Django community</h4>
			      <p>Build a Django blog</p>
               <span class="categories"><i class="fa fa-tag"></i>Web development</span>
		      </div>

            <div class="link-box">
               <a target="_blank" title="Comming soon">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-04 End -->

         <div id="modal-05" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static '../../static/images/portfolio/modals/m-weather.png' %}" alt="" />

		      <div class="description-box">
			      <h4>Hot&Cold</h4>
			      <p>Development of a Weather app in Django.</p>
               <span class="categories"><i class="fa fa-tag"></i>Web & Mobile Development</span>
		      </div>

            <div class="link-box">
               <a target="_blank" title="Comming soon">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-05 End -->

      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->


   <!-- Call-To-Action Section
   ================================================== -->
<!--   <section id="call-to-action">-->

<!--      <div class="row">-->

<!--         <div class="two columns header-col">-->

<!--            <h1><span>Get Hosting.</span></h1>-->

<!--         </div>-->

<!--         <div class="seven columns">-->

<!--            <h2><span class="lead">Unde Omnis Iste</span></h2>-->
<!--            <p><span class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,-->
<!--            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae. </span></p>-->

<!--         </div>-->

<!--         <div class="three columns action">-->



<!--         </div>-->

<!--      </div>-->

<!--   </section> &lt;!&ndash; Call-To-Action Section End&ndash;&gt;-->


   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">

      <div class="text-container">

         <div class="row">

            <div class="two columns header-col">

               <h1><span>Client Testimonials</span></h1>

            </div>

            <div class="ten columns flex-container">

               <div class="flexslider">

                  <ul class="slides">

                     <li>
                        <blockquote>
                           <p>Your work is going to fill a large part of your life, and the only way to be truly satisfied is
                           to do what you believe is great work. And the only way to do great work is to love what you do.
                           If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it.
                           </p>
                           <cite>STEVE JOBS</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                     <li>
                        <blockquote>
                           <p>Failure is an option here. If things are not failing, you are not innovating enough.</p>
                           <cite>ELON MUSK</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                  </ul>

               </div> <!-- div.flexslider ends -->

            </div> <!-- div.flex-container ends -->

         </div> <!-- row ends -->

       </div>  <!-- text-container ends -->

   </section> <!-- Testimonials Section End-->


   <!-- Contact Section
   ================================================== -->
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Get In Touch.</span></h1>

            </div>

            <div class="ten columns">

                  <p class="lead" align="center">Have a question or want to work together? </p>

            </div>

         </div>

         <div class="row">

            <div class="eight columns">
                <form method="get">
                    <fieldset>
                        <div>
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name">
                        </div>
                        <div>
                            <label for="email">Email</label>
                            <input type="email" name="email" id="emai">
                        </div>
                        <div>
                            <label for="subject">Subject</label>
                            <input type="text" name="subject" id="subject">
                        </div>
                        <div>
                            <label for="message">Message</label>
                            <input type="text" name="message" id="message">
                        </div>
                        <div>
                            <input type="submit" value="SEND">
                        </div>
                    </fieldset>
                </form>
           </div>

            <aside class="four columns footer-widgets">

               <div class="widget widget_contact">

					   <h4>Address and Phone</h4>
					   <p class="address">
						   Yassine Jrad<br>
						   Djerba, Tunisia<br>
						   <span>+216 26433633</span>
					   </p>

				   </div>

            </aside>
        </div>
      </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="https://www.linkedin.com/in/yassine-jrad-94b750119/"><i class="fa fa-linkedin" title="Yassine Jrad"></i></a></li>
               <li><a href="https://github.com/yassinejr"><i class="fa fa-github" title="yassinejr"></i></a></li>
               <li><a href="https://wa.me/0021626433633"><i class="fa fa-whatsapp" title="+216 26 433 633"></i></a></li>
               <li><a href="skype:live:afd7e1e586aada00?call"><i class="fa fa-skype" title="+216 26433633"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2020 Yassine JRAD</li>
               <li>Free template Designed by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>
                <li>Edited by Yassine JRAD</li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="{% static '../../static/js/jquery.flexslider.js' %}"></script>
   <script src="{% static '../../static/js/waypoints.js' %}"></script>
   <script src="{% static '../../static/js/jquery.fittext.js' %}"></script>
   <script src="{% static '../../static/js/magnific-popup.js' %}"></script>
   <script src="{% static '../../static/js/init.js' %}"></script>

</body>

</html>