{% load static %}


<h5> My experience as a Software Engineer</h5>
<div class="card card-body h-100">
    <ul>
        <li>
            <strong>Python/Django Backend Engineer</strong>
            <a href="https://neopolis-dev.com/"> <img src="{% static '../../static/images/Neo.jpeg' %}" style="float:right" width="120" height="100" title="Neopolis Development"></a>
            <dl>
                <dt>Neopolis Development</dt>
                <dt><small>Apr 2020-Present : 6 mos</small></dt>
                <dt><small>Nabeul, Tunisia</small></dt>
                <dt>Tasks:</dt>
                <dd>
                    <ul class="expandible">
                        <li>Developing, testing and debugging software tools utilized by clients and
                            internal customers</li>
                        <li>Coding test programs and evaluating existing engineering processes.</li>
                        <li>Collaborating with internal teams to convert end user feedback into
                            meaningful and improved solutions.</li>
                        <li>Resolving ongoing problems and accurately documented progress of
                            Python/Django project.</li>
                    </ul>
                </dd>
            </dl>
        </li>
        <li>
            <strong>Software Engineer</strong>
            <img src="{% static '../../static/images/Phoenix.jpeg' %}" style="float:right" width="120" height="100" title="Neopolis Development">
            <dl>
                <dt>Phoenix Mecano Elcom</dt>
                <dt><small>Oct 2019-Apr 2020 : 6 mos</small></dt>
                <dt><small>Zaghouan, Tunisia</small></dt>
                <dt>Tasks:</dt>
                <dd>
                    <ul class="expandible">
                        <li>Development a web application that allow acquiring data from Humidity
and Temperator sensors : HTML5 ; CSS3 ; Javascript ; jQuery ; Python,
Django, Raspberry Pi, NodeMCU</li>

                    </ul>
                </dd>
            </dl>
        </li>
        <li>
            <strong>Software Engineer Intern</strong>
            <a href="https://www.addixo.com/fr/"> <img src="{% static '../../static/images/Addixo.png' %}" style="float:right" width="120" height="150" title="ADDIXO"></a>
            <dl>
                <dt>ADDIXO</dt>
                <dt><small>Feb 2019-July 2020 : 6 mos</small></dt>
                <dt><small>Tunis, Tunisia</small></dt>
                <dt>Tasks:</dt>
                <dd>
                    <ul>
                        <li>aaaa</li>
                        <li>zzzz</li>
                        <li>eeee</li>
                    </ul>
                </dd>
            </dl>
        </li>
    </ul>
</div>
