<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yassine JRAD</title>
    {% load static %}
    <link href="{% static '../../static/css/style.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
    <br>
    <div class="container">
        {% include 'base/about.html' %}
        <br>
        <div class="row">
            {% include 'base/experience.html' %}
            <br>
            {% include 'base/technologies.html' %}
            <br>
            {% include 'base/goals.html' %}
        </div>
        <br>
        <br>
        <div class="row">
            {% include 'base/school.html' %}
            <br>
            {% include 'base/accomplishments.html' %}
            <br>
        </div>
    </div>
</body>
</html>

<script>
    $('ul.expandible').each(function(){
    var $ul = $(this),
        $lis = $ul.find('li:gt(1)'),
        isExpanded = $ul.hasClass('expanded');
    $lis[isExpanded ? 'show' : 'hide']();

    if($lis.length > 0){
        $ul
            .append($('<span class="showmore"><li class="expand">' + (isExpanded ? 'Show Less' : '... Show More') + '</li></span>')
            .click(function(event){
                var isExpanded = $ul.hasClass('expanded');
                event.preventDefault();
                $(this).html(isExpanded ? '... Show More' : 'Show Less');
                $ul.toggleClass('expanded');
                $lis.toggle();
            }));
    }
});
</script>