<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yassine JRAD</title>
    {% load static %}
    <link href="{% static '../../static/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div id="profile-wrapper" class="card card-body  h-100 border-info">
                    <img id="profile-pic" src="{% static '../../static/images/0.jpeg' %}">
                    <hr>
                    <h4 class="title-size"> Python Developer | Software Engineer</h4>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">
                    <p> About me </p
                    <img class="social-media-pic" src="{% static '../../static/images/linkedin.png' %}">
                    <span class="label success">Success</span>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-7"><h5> My experience as a Software Engineer</h5>
                <div class="card card-body h-100">
                    <ul>
                        <li>
                            <strong>Python/Django Backend Engineer</strong>
                            <dl>
                                <dt><small>Neopolis Development</small></dt>
                                <dt><small>Apr 2020-Present : 6 mos</small></dt>
                                <dt><small>Nabeul, Tunisia</small></dt>
                                <dt>Tasks:</dt>
                                <dd>
                                    <ul>
                                        <li>aaaa</li>
                                        <li>zzzz</li>
                                        <li>eeee</li>
                                    </ul>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <strong>Software Engineer</strong>
                            <dl>
                                <dt><small>Phoenix Mecano Elcom</small></dt>
                                <dt><small>Oct 2019-Apr 2020 : 6 mos</small></dt>
                                <dt><small>Zaghouan, Tunisia</small></dt>
                                <dt>Tasks:</dt>
                                <dd>
                                    <ul>
                                        <li>aaaa</li>
                                        <li>zzzz</li>
                                        <li>eeee</li>
                                    </ul>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <strong>Software Engineer Intern</strong>
                            <dl>
                                <dt><small>ADDIXO</small></dt>
                                <dt><small>Feb 2019-July 2020 : 6 mos</small></dt>
                                <dt><small>Tunis, Tunisia</small></dt>
                                <dt>Tasks:</dt>
                                <dd>
                                    <ul>
                                        <li>aaaa</li>
                                        <li>zzzz</li>
                                        <li>eeee</li>
                                    </ul>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5"><h5>Technologies that i am using</h5>
                <div class="card card-body">
                    <p>glkghfliuhzelmfiusqmegh</p>
                    <p>glkghfliuhzelmfiusqmegh</p>
                    <p>glkghfliuhzelmfiusqmegh</p>
                    <p>glkghfliuhzelmfiusqmegh</p>
                    <p>glkghfliuhzelmfiusqmegh</p>
                    <p>glkghfliuhzelmfiusqmegh</p>
                    <p>glkghfliuhzelmfiusqmegh</p>
                    <p>glkghfliuhzelmfiusqmegh</p>
                    <p>glkghfliuhzelmfiusqmegh</p>
                    <p>glkghfliuhzelmfiusqmegh</p>
                    <p>glkghfliuhzelmfiusqmegh</p>
                    <p>glkghfliuhzelmfiusqmegh</p>
                </div>
                <br>
                <h5>My short term goals</h5>
                <div class="card card-body">
                    <p>glkghfliu5555555sqmegh</p>
                </div>
            </div>
            <br>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-7"><h5>How i learned</h5>
                <div class="card card-body"></div>
            </div>
            <div class="col-md-5"><h5> My Certifications</h5>
                <div class="card card-body">
                </div>
            </div>
        </div>
        <br>
        <div class="row">

    </div>
</body>
</html>