{% load static %}


<div class="col-md-8"><h5>How i learned</h5>
    <div class="card card-body">
        <ul>
            <li>
                <strong>Private Higher School of Engineering and Technologies - ESPRIT</strong>
                <a href="https://esprit.tn/"> <img src="{% static '../../static/images/Esprit.jpg' %}" style="float:right" width="100" height="50" title="ESPRIT"></a>
                <dl>
                    <dt>National diploma in Electromechanical engineering : mechatronics & software development speciality</dt>
                    <dt><small>2016-2019</small></dt>
                    <dt><small>Tunis, Tunisia</small></dt>
                </dl>
            </li>
            <li>
                <strong>Online courses</strong>
                <dd>
                    <ul>
                        <li>edX</li>
                        <li>Udemy</li>
                    </ul>
                </dd>
            </li>
        </ul>
    </div>
</div>