{% load static %}

<h5>Skills</h5>
    <div class="card card-body">
        <h5>Javascript</h5>
            <div class="row">
                    <div> <img src="{% static '../../static/images/vue-js.svg' %}" height="40" width="50" hspace="5" vspace="5"></div>
                    <div> <img src="{% static '../../static/images/react.svg' %}" height="40" width="50" hspace="5" vspace="5"></div>
            </div>
        <h5>CI/CD</h5>
            <div class="row">
                    <div> <img src="{% static '../../static/images/docker.svg' %}" height="40" width="50" hspace="5" vspace="5"></div>
                    <div> <img src="{% static '../../static/images/jenkins.jpg' %}" height="40" width="50" hspace="5" vspace="5"></div>
                    <div> <img src="{% static '../../static/images/circleci.svg' %}" height="40" width="50" hspace="5" vspace="5"></div>
                    <div> <img src="{% static '../../static/images/kubernets.svg' %}" height="40" width="50" hspace="5" vspace="5"></div>
                    <div> <img src="{% static '../../static/images/travis.jpg' %}" height="40" width="50" hspace="5" vspace="5"></div>
            </div>
        <h5>Cloud</h5>
            <div class="row">
                    <div> <img src="{% static '../../static/images/google-cloud-1.svg' %}" height="50" width="50" hspace="5" vspace="5"></div>
                    <div> <img src="{% static '../../static/images/aws-2.svg' %}" height="50" width="50" hspace="5" vspace="5"></div>
                    <div> <img src="{% static '../../static/images/azure-1.svg' %}" height="50" width="50" hspace="5" vspace="5"></div>
            </div>
    </div>
</div>