{% load static %}

<h5>Technologies that i am using</h5>
    <div class="card card-body">
        <h5>Language & Frameworks</h5>
        <div class="row">
            <div> <img src="{% static '../../static/images/python-5.svg' %}" height="40" width="50" hspace="5" vspace="5"></div>
            <div> <img src="{% static '../../static/images/django-community.svg' %}" height="40" width="50" hspace="5" vspace="5"></div>
            <div> <img src="{% static '../../static/images/flask.svg' %}" height="40" width="50" hspace="5" vspace="5"></div>

        </div>
            <h5>Front End</h5>
            <div class="row">
                    <div> <img src="{% static '../../static/images/html5.svg' %}" height="40" width="50" hspace="2" vspace="5"></div>
                    <div> <img src="{% static '../../static/images/css-5.svg' %}" height="40" width="50" hspace="2" vspace="5"></div>
                    <div> <img src="{% static '../../static/images/javascript.svg' %}" height="40" width="50" hspace="2" vspace="5"></div>
                    <div> <img src="{% static '../../static/images/bootstrap-4.svg' %}" height="40" width="50" hspace="2" vspace="5"></div>
                    <div> <img src="{% static '../../static/images/jquery.svg' %}" height="40" width="50" hspace="2" vspace="5"></div>
            </div>
        <h5>Database</h5>
            <div class="row">
                    <div> <img src="{% static '../../static/images/orm.png' %}" height="40" width="50" hspace="10" vspace="5"></div>
                    <div> <img src="{% static '../../static/images/sqlite.svg' %}" height="40" width="50" hspace="10" vspace="5"></div>
                    <div> <img src="{% static '../../static/images/postgresql.svg' %}" height="40" width="50" hspace="10" vspace="5"></div>

            </div>
        <h5>Version Control</h5>
            <div class="row">
                    <div> <img src="{% static '../../static/images/git-icon.svg' %}" height="40" width="40" hspace="5" vspace="10"></div>
                    <div> <img src="{% static '../../static/images/github-1.svg' %}" height="40" width="40" hspace="5" vspace="10"></div>
                    <div> <img src="{% static '../../static/images/gitlab.svg' %}" height="40" width="40" hspace="5" vspace="10"></div>
            </div>
        <h5>Tools</h5>
            <div class="row">
                <div> <img src="{% static '../../static/images/bash-1.svg' %}" height="40" width="50" hspace="5" vspace="5"></div>
                <div> <img src="{% static '../../static/images/pycharmide.jpeg' %}" height="40" width="50" hspace="5" vspace="5"></div>
                    <div> <img src="{% static '../../static/images/postman.png' %}" height="40" width="60" hspace="5" vspace="5"></div>
                <div> <img src="{% static '../../static/images/selenium-logo.svg' %}" height="40" width="60" hspace="5" vspace="5"></div>
            </div>
        <h5>Project Management Tools</h5>
            <div class="row">
                    <div> <img src="{% static '../../static/images/scrum.jpg' %}" height="40" width="50" hspace="5" vspace="5"></div>
                    <div> <img src="{% static '../../static/images/jira.svg' %}" height="40" width="70" hspace="5" vspace="10"></div>
            </div>
        <h5>Operating systems</h5>
            <div class="row">
                    <div> <img src="{% static '../../static/images/linux-tux-1.svg' %}" height="40" width="50" hspace="5" vspace="5"></div>
                    <div> <img src="{% static '../../static/images/microsoft-windows-22.svg' %}" height="40" width="50" hspace="5" vspace="5"></div>
            </div>
    </div>