.title-size{
    font-size: 20px;
}
.body{
    background-color: #C8C5C5;
}

#profile-wrapper{
    text-align: center;
}

#profile-pic{
    width:150px;
    height:150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.social-media-pic{
    width:20px;
    height:20px;
}

.label {
  color: blue;
  padding: 8px;
}

.success {background-color: #4CAF50;} /* Green */