.title-size{
    font-size: 20px;
}
.body{
    background-color: #C8C5C5;
}

#profile-wrapper{
    text-align: center;
}

#profile-pic{
    width:150px;
    height:150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.social-media-pic{
    width:20px;
    height:20px;
    margin-bottom:5px;
}

.label {
  color: blue;
  padding: 8px;
}

.showmore {
	cursor: pointer;
	font-weight: bold;
	font-color: blue;
}
*{
    box-sizing: border-box;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.grid-container {
  display: grid;
  justify-content: space-around;
}
